.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonRow {
  margin-bottom: 30px;
}

.buttonRow button {
  outline: 0;
  border: 1px solid blue;
  padding: 12px;
  background: white;
  border-radius: 12px;
}
